@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
main {
  height: 100vw;
  width: 100vw;
  box-sizing: border-box;
}
.box-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 93, 125, 0.16);
}
header {
  right: 30px;
  padding-top: 20px;
  opacity: 1;
}
a {
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 20px 15px;
  cursor: pointer;
}
a:nth-child(2) {
  opacity: 0.4;
}
img {
  position: relative;
  top: 110px;
  right: 110px;
  width: 370px;
}
.sai-fora {
  padding: 0 150px 0 130px;
}
.display {
  display: inline-block;
}
h1 {
  width: 368px;
  height: 160px;
  font-size: 70px;
  line-height: 120%;
  color: #5d5d7d;
  padding-bottom: 15px;
  padding-top: 25%;
}
p {
  width: 540px;
  max-height: 144px;
  padding-bottom: 15px;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #5d5d7d;
  opacity: 60%;
}
button {
  width: 269px;
  height: 62px;
  background-color: #9499ea;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}
@media screen and (max-width: 900px) {

  .sai-fora {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .box-2 {
    position: static;
    padding: 40px;
    margin: 10px 0 0;
    width: 100%;
    height: 100%;
  }
  .display {
    display: block;
  }
  img {
    position: static;
    width: 300px;
    max-width: 80%;
    }
  header {
    display: none;
  }
  h1 {
    font-size: 36px;
    line-height: 52px;
    width: auto;
    height: auto;
    margin: 58px 50px 0 50px;
    text-align: center;
    padding: 0;
  }
  p {
    margin: 15px 40px;
    text-align: center;
    width: auto;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
